.log-in-input-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-input-container input {
  font-size: large;
}

.email-error {
  color: red;
}

.input-row {
  display: flex;
}
