.log-in-introduction-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 90%;
  border-right: solid black 1px;
}

.log-in-introduction-container h2,
.log-in-introduction-container h1 {
  margin: 15% 20%;
  text-align: center;
}

@media (max-width: 900px) {
  .log-in-introduction-container {
    border-right: none;
    border-bottom: solid black 1px;
    width: 90%;
    height: 25%;
    justify-content: center;
  }

  .log-in-introduction-container h2,
  .log-in-introduction-container h1 {
    margin: 0;
  }
}
